<div>{{getNow() | date: 'HH:mm:ss'}}</div>
<div *ngIf="currentAuction">
  {{currentAuction.lot.title}}
  {{currentAuction.lot.description}}
  {{currentAuction.startTime | date: 'HH:mm:ss'}}
  {{currentAuction.finishTime | date: 'HH:mm:ss'}}
  {{currentStatus}}
  <p *ngIf="enableTrading">Осталось: {{timeToString(getRestTime())}}</p>
  <p *ngIf="!enableTrading">Аукцион завершен</p>
  <p>Текущая цена: {{currentPrice}}</p>
  <button *ngIf="enableTrading" (click)="placeBid()">ставка +{{currentAuction.stepPrice.toFixed(2)}}</button>
</div>

