.currentAuction {
  display: flex;
  flex-direction: column;
}

.bidInfo {
  display: flex;
  justify-content: space-between;
}

.lotDetailsContent {
  display: flex;
  justify-content: space-between;
}

.bidButton {
  display: flex;
  justify-content: center;
}

.submitButton {
  width: 280px;
  margin-bottom: 30px;
}

.lotInfo {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-left: 30px;
}

.price {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0 0 50px;
}

.time {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 120px;
}

.lotImage {
  border: 1px;
  border-color: rgba(76, 76, 76, 0.76);
  border-style: solid;
  width: 300px;
  margin-right: 100px;
}

label {
  font-size: 24px;
  color: rgba(29, 29, 29, 0.89);
}

span {
  font-size: 18px;
  margin-bottom: 15px;
  color: rgba(47, 47, 47, 0.84);
}

.bidLabel {
  font-size: 18px;
  margin: 30px 30px 0 30px;

}
