<div>
  Аукционы на: {{date}}
  <thead>
  <tr align="center">
    <th>Лот</th>
    <th>Стартовая цена</th>
    <th>Начало</th>
    <th>Окончание</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let auction of auctions" align="center">
    <td>{{auction.lot.title}}</td>
    <td>{{auction.lot.startPrice.toFixed(2)}}</td>
    <td>{{convertStartTime(auction)}}</td>
    <td>{{getFinishTime(auction)}}</td>
    <td><button [routerLink]="['/auction/details', auction.id]">детали</button> </td>
    <td><button>удалить</button> </td>
    <td><button>изменить время</button> </td>
  </tr>
  </tbody>
</div>
