<div>
  Аукционы на: {{date}}
  <thead>
  <tr align="center">
    <th>Лот</th>
    <th>Начало</th>
    <th>Окончание</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let auction of auctions" align="center">
    <td>{{auction.lot.title}}</td>
    <td>{{convertStartTime(auction)}}</td>
    <td>{{getFinishTime(auction).toLocaleTimeString()}}</td>
    <td>
      <button [routerLink]="['/auction/details', auction.id]">детали</button>
    </td>
    <td>
      <button (click)="remove(auction.id)">удалить</button>
    </td>
  </tr>
  </tbody>
</div>
<div>
  <button *ngIf="!dayIsFull()" (click)="newAuction={}">Добавить аукцион</button>
  <button *ngIf="dayIsFull()" (click)="newAuction={}">Добавить в очередь</button>
</div>
<div *ngIf="newAuction">
  <div *ngIf="!selectedLot">
    <div *ngFor="let lot of getLots()">
      <p>
        <a href="javascript:void(0)" (click)="selectedLot = lot">{{lot.title}}</a>
        {{getDate(lot.added).toLocaleDateString()}} {{getDate(lot.added).toLocaleTimeString()}} {{lot.status.status}}
      </p>
    </div>
  </div>
  <div *ngIf="selectedLot">
    <div>
      {{selectedLot.title}}<br/>
      {{selectedLot.description}}<br/>
      {{selectedLot.seller.username}}<br/>
      {{selectedLot.startPrice.toFixed(2)}}
    </div>
    <div><input *ngIf="!dayIsFull()" type="time" [(ngModel)]="startTimeString" (change)="this.convertToDate()">
      {{newAuction.startTime.toLocaleDateString()}} {{newAuction.startTime.toLocaleTimeString()}}
    </div>
    <div><input type="number" [(ngModel)]="newAuction.stepPrice" min="0.01" step="0.01">{{newAuction.stepPrice}}</div>
    </div>
    <button (click)="insert()">Сохранить</button>
  </div>
