<div class="lotComponent">
  <div class="lotPanel">
    <button md-raised-button color="primary" *ngIf="!lot" (click)="createLot()">Добавить лот</button>
    <button md-raised-button color="primary" *ngIf="lot" (click)="lot=null">Добавить лот</button>
    <button md-raised-button color="primary" *ngIf="!myLots" (click)="getMyLots()">Мои лоты</button>
    <button md-raised-button color="primary" *ngIf="myLots" (click)="myLots=null">Мои лоты</button>
  </div>
  <div class="lotContent">
    <form class="lotForm" *ngIf="lot" #lotForm="ngForm" (ngSubmit)="insert()">
      <md-form-field>
        <input name="title" mdInput [(ngModel)]="lot.title" placeholder="Название" required>
      </md-form-field><br/>
      <md-form-field>
        <textarea name="description" mdInput [(ngModel)]="lot.description" placeholder="Краткое описание" required></textarea>
      </md-form-field><br/>
      <md-form-field>
        <input name="startPrice" mdInput type="number" [(ngModel)]="lot.startPrice" placeholder="Стартовая цена" required min="0.01" step="0.01">
      </md-form-field>
      <p>
        <button md-raised-button color="primary" class="submitButton" [disabled]="!lotForm.valid">Отправить</button>
      </p>
    </form>
  </div>
  <div class="lotContentTable">
    <table class="lotTable">
      <thead *ngIf="myLots" class="lotTableHead">
      <tr>
        <th>Лот</th>
        <th>Цена</th>
        <th>Время торгов</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let myLot of myLots" class="lotTableRow">
        <td style="text-align: start">{{myLot.title}}</td>
        <td>{{myLot.startPrice.toFixed(2)}}</td>
        <td *ngIf="myLot.status.status === 'onsale'">
          {{myLot.auction.startTime | date: 'dd.MM.y HH:mm:ss'}}
        </td>
        <td *ngIf="myLot.status.status === 'registered'">не назначено</td>
        <td *ngIf="myLot.status.status === 'saled'">ожидает подтверждения</td>
        <td *ngIf="myLot.status.status === 'confirmed'">продано</td>
        <td *ngIf="myLot.status.status === 'canceled'">отменено</td>
        <td><button md-button md-icon-button><md-icon>arrow_right</md-icon></button></td>
        <td><button md-button md-icon-button><md-icon>close</md-icon></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

