<div>
  <button *ngIf="!lot" (click)="lot={}">Добавить лот на продажу</button>
  <button *ngIf="lot" (click)="lot=null">Скрыть меню</button>
  <form class="form-horizontal" *ngIf="lot" #lotForm="ngForm" (ngSubmit)="insert()">
    <p>
      <label>Название лота</label>
      <input name="title" [(ngModel)]="lot.title" required>
    </p>
    <p>
      <label>Описание</label>
      <textarea name="description" [(ngModel)]="lot.description" required></textarea>
    </p>
    <p>
      <label>Стартовая цена</label>
      <input name="startPrice" type="number" [(ngModel)]="lot.startPrice" required min="0.01" step="0.01">
    </p>
    <p>
      <button [disabled]="!lotForm.valid">Отправить</button>
    </p>
  </form>
</div>

<div>
  <button *ngIf="!myLots" (click)="getMyLots()">Мои лоты</button>
  <button *ngIf="myLots" (click)="myLots=null">Мои лоты</button>
  <thead *ngIf="myLots">
  <tr>
    <th>Лот</th>
    <th>Цена</th>
    <th>Время торгов</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let myLot of myLots">
    <td>{{myLot.title}}</td>
    <td>{{myLot.startPrice.toFixed(2)}}</td>
    <td *ngIf="myLot.status.status === 'onsale'">
      {{myLot.auction.startTime | date: 'dd.MM.y HH:mm:ss'}}
    </td>
    <td *ngIf="myLot.status.status === 'registered'">не назначено</td>
    <td *ngIf="myLot.status.status === 'saled'">ожидает подтверждения</td>
    <td *ngIf="myLot.status.status === 'confirmed'">продано</td>
    <td *ngIf="myLot.status.status === 'canceled'">отменено</td>
  </tr>
  </tbody>
</div>
