<div>
  <button (click)="lot={}">Добавить лот на продажу</button>
</div>
<form class="form-horizontal" *ngIf="lot" #lotForm="ngForm" (ngSubmit)="insert()">
  <p>
    <label>Название лота</label>
    <input name="title" [(ngModel)]="lot.title" required>
  </p>
  <p>
    <label>Описание</label>
    <textarea name="description" [(ngModel)]="lot.description" required></textarea>
  </p>
  <p>
    <label>Стартовая цена</label>
    <input name = "startPrice" type="number" [(ngModel)]="lot.startPrice" required min="0.01" step="0.01">
  </p>
  <p>
    <button [disabled]="!lotForm.valid">Отправить</button>
  </p>
</form>
