<div *ngIf="currentAuction">
  Текущий аукцион: {{currentAuction.lot.title}}
  <button [routerLink]="['/auction/current', currentAuction.id]">участвовать</button>
</div>


<div><p>Аукционы сегодня :{{tradingDate.toLocaleDateString()}}</p></div>
<thead>
<tr>
  <th>Лот</th>
  <th>Стартовая цена</th>
  <th>Начало</th>
  <th>Окончание</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let auction of auctions">
    <td *ngIf="isActual(auction)">{{auction.lot.title}}</td>
    <td *ngIf="isActual(auction)">{{auction.lot.startPrice.toFixed(2)}}</td>
    <td *ngIf="isActual(auction)">{{convertStartTime(auction)}}</td>
    <td *ngIf="isActual(auction)">{{getFinishTime(auction).toLocaleTimeString()}}</td>
</tr>
</tbody>
