<div class="head">
  <img src="assets/img/logo.png" class="leftLogo" (click)="goHome()">
  <div>
    <img class="langIcon" src="assets/img/Russia.png" (click)="switchLanguage('ru')">
    <img class="langIcon" src="assets/img/UK.png" (click)="switchLanguage('en')">
  </div>
</div>
<div id="welcomeMessage" *ngIf="isLoggedIn()">{{'welcomeMessage' | translate}}{{welcomeName}}!</div>
<div>
  <nav class="mainMenu">
    <button md-raised-button color="primary" *ngIf="isAdmin()" routerLink="/admin"><span>{{'adminAccount' | translate}}</span>
    </button>
    <button md-raised-button color="primary" *ngIf="isManager()" routerLink="/manager"><span>{{'managerAccount' | translate}}</span>
    </button>
    <button md-raised-button color="primary" *ngIf="isUser()" [mdMenuTriggerFor]="accountMenu">
      <span>{{'userAccount' | translate}}</span></button>
    <md-menu class="nestedMenu" #accountMenu="mdMenu">
      <button routerLink="/lot">{{'myLots' | translate}}</button>
      <br/>
      <button routerLink="/user">{{'myProfile' | translate}}</button>
    </md-menu>
    <button md-raised-button color="primary" routerLink="/"><span>{{'auctions' | translate}}</span></button>
    <button md-raised-button color="primary" routerLink="/specification"><span>{{'specification' | translate}}</span></button>
    <button md-raised-button color="primary" *ngIf="!isLoggedIn()" routerLink="/login"><span>{{'login' | translate}}</span></button>
    <button md-raised-button color="primary" *ngIf="!isLoggedIn()" routerLink="/registration"><span>{{'registration' | translate}}</span>
    </button>
    <button md-raised-button color="primary" *ngIf="isLoggedIn()" routerLink="/" (click)="logout()"><span>{{'logout' | translate}}</span>
    </button>
  </nav>
</div>
<main>
  <router-outlet></router-outlet>
</main>
<div class="goToTop">
  <button md-raised-button md-icon-button color='primary' (click)='goToTop()'>
    <md-icon>arrow_upward</md-icon>
  </button>
</div>
