<h1>Правила нашего аукциона:</h1>
<div  class="scrolling-content">
 <p> Аукцион с понижением цены "Падающие цены" является добровольным по виду инициативы и открытым по составу участников, с гласным способом понижения цены.</p>

  <h2>Аукционные товары</h2>

<ul>
  <li>Новые, в идеальном состоянии товары. </li>
  <li>Товары бывшие в употреблении.</li>
  <li>В исправном состоянии или неисправные.</li>
  <li>Неликвиды. Брак.</li>
  <li>Как морально устаревшие так и передовые новинки.</li>
  <li>Товар выбывающий из ассортимента магазина.</li>
  <li>Остатки от апгрейдов (модернизации) компьютеров.</li>
  <li>Списанная техника. Конфискат.</li>
  <li>Забавные вещицы.</li>
</ul>

  <h2>Лоты</h2>

Лот - это неделимый объект торга на аукционе. Лот состоит из одной единицы товара или из некоторого их количества.

Правила наименования лотов

Мы указываем "рабочий", "нерабочий", "некондиционный", "истек срок годности", в наименовании лота, если нам это известно.

Если нам ничего не известно о состоянии товара - в наименовании лота будет указано "не проверен".

Если в наименовании лота ничего не сказано о кондициях - скорее всего товар новый и кондиционный.

Если лот состоит из нескольких товаров - это указывается в наименовании.

Абсолютная точность и полнота наименования лота не гарантируется.

Технические ограничения таков, что наименование товара не превышает 100 символов.

  <h2>Комиссионер</h2>

Физическое или юридическое лицо, заключившее с нами договор комиссии для размещения своего товара на аукционе.

Темп аукционных торгов

Стоимость товара изменяется один раз в неделю для всех лотов,
по субботам с 10:00 до 11:00

  <h2>Шаг аукционных торгов</h2>

Уценка на 20% от текущей цены товара. Округление до ближайшего целого рубля.

Права собственности на аукционные товары

Право собственности на аукционные товар принадлежит магазину "автограф" или комиссионеру, если товар был принят на аукцион по договору комиссии.

Права собственности переходят к победителю аукциона по завершению аукционной сделки.

  <h2>Суть аукциона на понижение цены</h2>

Еженедельная уценка гарантирует, что любой товар, в любых кондициях, найдёт своего покупателя!

  <h2>Победитель аукциона</h2>

Победителем аукциона признаётся лицо, первым уплатившее предлагаемую на аукционе цену за лот.

  <h2>Очерёдность покупки</h2>

В случае одновременного появления более одного покупателя на аукционе "Падающие цены" такие покупатели самостоятельно договариваюся об очерёдности покупки. В обязанности оганизатора аукциона не входит организаци очереди из покупателей и арбитраж могущих возникнуть в связи с этим конфликтов.

  <h2>Резервирование товара</h2>

На аукционе "Падающие цены" товар не резервируется, не "откладывается". Брошенный товар после покупки не охраняется.

  <h2>Стартовая (максимальная) цена</h2>

Максимальная цена за лот, с которой начинается аукционный торг. Стартовую цену аукционист назначает на своё усмотрение, если нет иной договорённости с комиссионером.

  <h2>Гарантии, кондиции, срок годности, срок службы товара</h2>

Товар по акции "Падающие цены" продаётся как есть.
Никаких гарантий, явных или подразумеваемых, не предоставляется!
(В том числе, но не ограничиваясь этим:
- гарантии соответствия внешнего вида, комплектности, цвета, фасона, размеров, веса каким бы то ни было критериям;
- соответствия и/или наличия определённых срока годности, срока службы, жизненного цикла товара;
- соответствия товара каким-либо стандартам, нормам, правилам;
- любых обязательств со стороны третьих лиц, в т.ч. гарантийных).
Товар возврату или замене не подлежит!

Клиенту может быть предоставлена, но не гарантируется, ограниченная возможность проверки товара перед покупкой (стол, стул, электрическая розетка).
</div>
